<div class="header-mensajes">
  <h4 class="title"><img src="../../../assets/img/logo.png" class="logo"> Chat</h4>
  <hr>
</div>
<div class="app-mensajes" id="app-mensajes">
  <div class="text-right" *ngFor="let mensaje of mensajes">
    <span class="badge badge-primary">{{mensaje["nombre"]}}</span>
    <p>{{mensaje["mensaje"]}}</p>
  </div>
  <input class="form-control caja-mensaje" type="text" placeholder="Enviar mensaje..." name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()">
</div>
